@import './utils/variables';
@import './base/container';
@import './base/general';
@import './base/section';
@import './components/page-header';
@import './components/logo';
@import './components/hero';
@import './components/modal-window';
@import './components/benefits';
@import './components/works';
@import './components/team';
@import './components/partners';
@import './components/page-footer';
@import './components/portfolio-menu';
@import './components/portfolio-galery';

