.hero {

    text-align: center;
   

    background: $theme-color-dark;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;


    @media screen and (max-width:767px) {
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/backgrond-images/hero_sm.jpg);

                padding-top: 260px;
    }

    @media screen and (min-width:768px) {
background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/backgrond-images/hero_md.jpg);
    padding-top: 200px;
        padding-bottom: 200px;

    }

    @media screen and (min-width:1200px) {
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/backgrond-images/hero_lg.jpg);

    }

&__title {
    width: 696px;

    margin-right: auto;
    margin-left: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $theme-color-light;

    @media screen and (min-width:320px) {
            font-size: 26px;
            width: 100%;
        }

    @media screen and (min-width:480px) {
        font-size: 26px;
        width: 360px;
}

 @media screen and (min-width:1200px) {
    font-size: 44px;
    width: 696px;


 }
}
}

.modal-button {
    margin-top: 32px;

    padding: 10px 32px;
    border: 0;

    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.88;

    color: $theme-color-light;

    background: $text-color-hover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    background-color: $modal-btn-hover;

}
}