.backdrop {
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;

    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


&.is-hidden {
    opacity: 0;
    pointer-events: none;

}
}

.modal-wrapper {
    position: absolute;
    background-color: $theme-color-light;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;

    padding: 40px;

    transform: translate(-50%, -50%) scale(1.0);


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

@media screen and (max-width:479px) {
        width: 100%;

    }


@media screen and (min-width:480px) {
    width: 450px;
    
}

@media screen and (min-width:1200px) {
    width: 530px;

}

.backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;

    cursor: pointer;

    width: 30px;
    height: 30px;


    color: $logo-color;
    background-color: $theme-color-light;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition:
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

&__close-button:hover &__close-icon,
&__close-button:focus &__close-icon {
    fill: $modal-btn-hover;
}

&__close-button:hover,
&__close-button:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

&__close-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__title {
    text-align: center;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;

    color: $text-color-h;

    margin-bottom: 12px;
}
}

.modal-form {
    width: 450px;

    margin-right: auto;
    margin-left: auto;


&__field {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 10px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__field-last {
    display: flex;
    flex-direction: column;
    text-align: start;

    margin-bottom: 20px;
}

&__label {
    font-weight: 400;
    font-size: 12px;

    letter-spacing: 0.01em;

    margin-bottom: 4px;
}

&__input {
    width: 100%;
    height: 40px;
    padding: 11px 12px 11px 30px;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;

    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



&:hover,
&:focus {
    border: 1px solid $text-color-hover;
}
}

&__icon-input {
    position: absolute;

    top: 32px;
    left: 15px;
    fill: $text-color-h;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__field:focus-within &__input,
&__field:hover &__input {
    border: 1px solid $modal-btn-hover;
}

&__field:focus-within &__icon-input,
&__field:hover &__icon-input {
    fill: $modal-btn-hover;
}

&__textarea {
    cursor: pointer;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    color: $text-color-h;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__textarea:focus-within,
&__textarea:hover {
    border: 1px solid $modal-btn-hover;
}

&__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

&__btn-submit {
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 55px;
    margin-right: auto;
    margin-left: auto;
    border: none;

    background-color: $text-color-hover;
    color: $theme-color-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;

    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (max-width:1200px) {
        margin-top: 10px;
    }
&:hover,
&:focus {
    background-color: $modal-btn-hover;
}
}

}

.modal-checkbox {

&__link {
        font-weight: 400;
        line-height: 1.71;
        text-decoration-line: underline;

        color: $text-color-hover;
        @media screen and (max-width:1200px) {
                font-size: 12px;
                letter-spacing: 0.02em;
               
            }
    }


&__input:checked+&__policy-box::before {
    background-color: $text-color-hover;
    border-color: $text-color-hover;
    background-image: url(../images/Icons/chekbox-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

&__policy-box {
    cursor: pointer;
    position: relative;
    line-height: 1.71;


&::before {
    display: block;
    position: absolute;
    content: '';

    top: 0;
    left: -23px;

    width: 16px;
    height: 16px;
    border: 2px solid $text-color-h;
    border-radius: 2px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-checkbox__input:hover+&,
    .modal-checkbox__input:focus+& {
            border-color: $modal-btn-hover;
        }

                .modal-checkbox__input:checked+& {
                    background-color: $text-color-hover;
                    border-color: $text-color-hover;
                    background-image: url(../images/Icons/chekbox-icon.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
}
}


}