

.footer {
    background: $theme-color-dark;
    padding: 60px 0;    
       



    &__item{


        @media screen and (min-width:320px) {
        text-align: center;
              
            }
        
            @media screen and (min-width:480px) {
                
                &:last-child {
                        margin-top: 60px;
                        width: 450px;
                        margin-left: auto;
                        margin-right: auto;
                    }
            }

                                          @media screen and (max-width:767px) {
                    
                                            //  margin-top: 60px;
                    
                                          }
        
            @media screen and (min-width:768px) {

                    &:nth-child(2) {
                        margin-left: auto;
                    }
            }

        
            @media screen and (min-width:1200px) {
            text-align:start;
                
            &:first-child {
                    margin-right: 70px;
                }

                &:nth-child(2){
                    margin-right: 93px;
                }
            
                &:last-child {
                    margin-left: auto;
                    margin-top: 0;
                    width: auto;
                }
            }
    } 
    & .container {
            
        
        @media screen and (min-width:320px) {
            // max-width: 479px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            align-items: baseline;
            
    
    
        }
    
                @media screen and (max-width:767px) {
        
                    display: flex;
                    flex-direction: column;
                    align-items:  center;
        
                }
    
        @media screen and (min-width:1200px) {
                flex-wrap: nowrap;
                align-items: baseline;
                
    
    
        }

}
}

.logo-footer {
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    color: $theme-color-light;



&__span {
    line-height: 1.38;
    color: $text-color-hover;
}
}

.address {
    margin-top: 20px;


&__list {
    font-style: normal;
}

&__item:not(:last-child) {
    margin-bottom: 9px;
}

.addres__link {
    line-height: 1.71;

    color: $contact-color-footer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres__link-map {
    color: $theme-color-light;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

& .link:hover,
& .link:focus {
    color: $text-color-hover;

}
}

.social-footer__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;

    color: $theme-color-light;
}

.social__link--bg {
    color: $theme-color-light;
    background-color: $social-footer-bg;

}


.subscribe {

&__title {
            font-weight: 700;
    
            text-transform: uppercase;
            color: $theme-color-light;
    
            margin-bottom: 20px;
        }

&_form {
    margin: 0;
    padding: 0;

    @media screen and (max-width:480px) {
            
            max-width: 479px;
            
        }
}

&__input {
    cursor: pointer;
    font-size: 16px;
    line-height: 1.25;
    color: $theme-color-light;
    letter-spacing: 0.03em;


  
    height: 50px;
    background-color: transparent;

    margin-right: 10px;
    padding: 15px 16px;

    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
            border: 1px solid $text-color-hover;
        }

                @media screen and (min-width:320px) {
                    margin-right: 0;
                    width: 100%;
                    margin-bottom: 20px;
                }

                                @media screen and (min-width:480px) {
                                  
                                    width: 450px;
                                    
                                }
                                @media screen and (min-width:768px) {
                                   
                                    width: 450px;
                                    
                                }

                @media screen and (min-width:1200px) {
                    margin-right: 10px;
                    width: 358px;
                    margin-bottom: 0;
                }

}


&__btn {
    position: relative;
    margin: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    cursor: pointer;

    padding: 10px 62px 10px 29px;

    color: $theme-color-light;

    border: none;
    background: $text-color-hover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: $modal-btn-hover;
        }
}





&__icon {
    position: absolute;
    top: 13px;
    right: 28px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: $theme-color-light;

}
}