.header {
    z-index: 5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
   
    @media screen and (max-width:767px) {
            position: fixed;
            background-color:$theme-color-light ;
            width: 100vw;
    
        }


& .container {
    // position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}
}

/*Nav-menu*/


.nav {
    
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;


   

    &__button {
        z-index: 5;
        position: fixed;
        top: 21px;
        right: 25px;
        display: inline-flex;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        & .icon-close {
            display: none;
            
        }

        &.is-open .icon-close{
            display: block;
            
        }

        &.is-open .icon-menu{
            display: none;
           
        }

                @media screen and (min-width:768px) {
                    display: none;
        
                }


    }

    &__mobile-menu{
    display: flex;
        align-items: center;
        width: 100%;
        

      
        
  
        

        

                @media screen and (max-width:767px) {
                    display: none;
                    position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        
                        padding: 30px 40px;

                        background-color: white;
                        
                        &.is-open {
                                display: block;
                        
                            }
            
        }

                @media screen and (max-width:479px) {
                 
                    padding: 15px 20px;
        
                }
                       
    }
}

.nav-menu {
    font-weight: 500;
    letter-spacing: 0.02em;
  

    display: flex;
    align-items: center;
   

@media screen and (max-width:767px) {
        // display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    
&__item:not(:last-child) {
    margin-right: 50px;
    @media screen and (max-width:767px) {
            margin-right: 0;

        
        }
}

&__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $text-color-h;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    color: $text-color-hover;

}

@media screen and (max-width:767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 40px;
    font-weight: 500;
}

@media screen and (max-width:479px) {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 26px;
    
}
}







}

.header-contacts {
    
    letter-spacing: 0.02em;
    font-weight: 500;
    
    
@media screen and (max-width:767px) {
        margin: 0;
        padding: 0;
        display: block;
        margin-top:calc(8vh ) ;
        :not(:last-child) {
                margin-bottom: 1vh;
           
            }
    }

    

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        justify-content: center;
    }

    @media screen and (min-width:1200px) {
        align-items: center;
        flex-direction: row;


    }
&__item{

    @media screen and (max-width:1199px) {
    
             &:nth-child(1){
                margin-bottom: 10px;
             }
                         
        }

    
    @media screen and (max-width:767px) {
    
         &:nth-child(1){
            margin-bottom: 0;
         }
                       
        }
    
}

&__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $text-color-primary;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: $text-color-hover;
        }

                @media screen and (min-width:320px) {
                   
                    font-size: 24px;
                    font-weight: 500;
                }

                           @media screen and (min-width:480px) {
                               padding-top:16px;
                               padding-bottom:16px;
                               font-size: 34px;
                               font-weight: 500;
                           }
                           @media screen and (min-width:768px) {
            
                               margin: 0;
                               padding: 0;
                            font-size: 14px;
                           }
                                                        
}

& &__item+&__item {

    @media screen and (min-width:1200px) {
    
            margin-left: 50px;
        }
}


&__icon {
    margin-right: 10px;
    fill: currentColor;


@media screen and (max-width:767px) {
   margin: 0;
   padding: 0;
   display: none;
}

 }
 
}

.social-menu {
    display: flex;
    margin-top: 4vh;

    @media screen and (min-width:768px) {
        
            display: none;
        }

    &__item {
        padding: 10px;
        &:not(:last-child){
        border-right: 1px solid rgba(33, 33, 33, 0.2) ;
        }
                @media screen and (min-width:320px) {
        
                padding: 5px;
        
                }
        
                @media screen and (min-width:480px) {
                    padding: 10px;
                }
    }
    &__link{
        
            font-weight: 500;
            
            line-height: 1.22;
        
            letter-spacing: 0.02em;

            @media screen and (min-width:320px) {
            
                    font-size: 12px;
                   
                }
            
                @media screen and (min-width:480px) {
                font-size: 18px;
                }
            
    }
}
.current {
    position: relative;
    color: $text-color-hover;


&::after {
    position: absolute;
    display: block;
    content: "";

    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $text-color-hover;
    @media screen and (max-width:767px) {
            display: none;
        }
}

}