.portfolio-galery {
    
@media screen and (min-width:320px) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    @media screen and (min-width:480px) {}

    @media screen and (min-width:768px) {
    
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1200px) {
      

    }

&__item {
    // flex-basis: calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке);

                                @media screen and (max-width:479px) {
                                &:not(:last-child) {
                                        margin-bottom: 30px;
                                        width: 100%;
                                    }
                                }
                
                                @media screen and (min-width:480px) {
                                    width: 450px;
                                    margin-bottom: 30px;
    
                                }
                
                                @media screen and (min-width:768px) {
                                    &:nth-child(2n-1) {
                                            margin-right: 30px;
                                        }
                                  width: 354px;

                                                             
            
                                }
                
                                @media screen and (min-width:1200px) {
                                    margin-right: 30px;
                                        width: 370px;
                                    
                                        &:nth-child(3n) {
                                            margin-right: 0;
                                        }
                                    
                                        &:not(:nth-last-child(-n+3)) {
                                            margin-bottom: 30px;
                                        }
                                   
                                }
}

&__img {
@media screen and (max-width:479px) {
        width: 100%;

    }

        
}

&__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

&__thumb {
    position: relative;
    overflow: hidden;
}

&__overlay {
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    padding: 63px 24px;

    color: $theme-color-light;
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .portfolio-galery__link:hover &,
        .portfolio-galery__link:focus & {
            transform: translateY(0);
        }

                @media screen and (max-width:479px) {
                    padding-top: 10px;
                   
        
                }
}

}

.card {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;



    &__title {
        margin-bottom: 4px;
        font-weight: 700;
        
        line-height: 2;
        letter-spacing: 0.06em;

        color: $text-color-h;

        @media screen and (min-width:320px) {
                font-size: 14px;
        
            }

                        @media screen and (min-width:480px) {
                            font-size: 18px;
            
                        }

        @media screen and (min-width:768px) {
                font-size: 14px;
        
            }

                        @media screen and (min-width:1200px) {
                            font-size: 18px;
            
                        }
    }

    &__group {

        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;

        color: $text-color-primary;
    }
}