.team {
    
    background-color: $button-portfolio;



&__list {


    @media screen and (min-width:320px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            // &:not(:last-child) {
            //         margin-bottom: 30px;
            //     }
    
        }

                
                                 @media screen and (min-width:320px) {
                
                
                                     
                                 }
                
                                 @media screen and (min-width:768px) {
                         
                                   justify-content: space-around;
                                

                                // calc((100% - 4 * 15px) / 2)
                                   
                                
                
                                    //  &:nth-child(2n-1) {
                                    //      margin-right: 30px;
                
                                    //  }
                
                                 }
                
                                 @media screen and (min-width:1200px) {
                                     //  width: calc((100% - 4 * 5px) / 2)
                                     
                
                
                
                                    //  :nth-child(1) {
                                    //      margin-bottom: 30px;
                
                                    //  }
                
                                    //  :nth-child(2) {
                                    //      margin-bottom: 30px;
                
                                    //  }
                                         flex-wrap: nowrap;
                
                
                                 }
    
                      
               
    
}

&__title {
    margin-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;

    color: $text-color-h;

    @media screen and (min-width:480px) {
        margin-bottom: 30px;
    
        }

                @media screen and (max-width:1200px) {
        
                    font-size: 28px;
                }
                

     @media screen and (min-width:1200px) {
        
                   margin-bottom: 50px;
                }
}

&__item {
    text-align: center;
    background-color: $theme-color-light;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    @media screen and (min-width:320px) {
    margin-bottom: 30px;
    
    
        }
    
        @media screen and (min-width:480px) {
            width: 450px;
            // &:not(:last-child ){
            //     margin-bottom: 30px;
            // }
    
            
        }
    
        @media screen and (min-width:768px) {
           
            width: 354px;
    
        }
    
        @media screen and (min-width:1200px) {
            //  width: calc((100% - 4 * 5px) / 2)
            width: 270px;
            margin-bottom: 0;
    
        }

                 
        
                 
}

&__img{
    @media screen and (max-width:479px) {
            width: 100%;
}
}

&__player-title {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;

    color: $text-color-h;

}

&__player-descr {
    font-size: 16px;

    margin-bottom: 16px;
}

&__frame {
    padding: 30px 0;

}
}

.social {
    display: flex;
    justify-content: center;



&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    color: $social-links;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
            &:focus {
                background-color: $text-color-hover;
                color: $theme-color-light;
        
            }

}

&__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

&__item:not(:last-child) {
    margin-right: 10px;
}

}