$main-font:'Roboto',sans-serif;
$logo-font: 'Raleway',sans-serif;

$theme-color-dark: #2f303a;
$theme-color-light: #FFFFFF;
$social-links: #AFB1B8;
$social-footer-bg: rgba(255, 255, 255, 0.1);

$button-portfolio: #F5F4FA;
$contact-color-footer: rgba(255, 255, 255, 0.6);
$logo-color: #000000;
$text-color-hover:#2196F3;
$text-color-primary: #757575;

$text-color-h: #212121;
$modal-btn-hover: #188CE8;